html {
    font-family: "Open Sans";
    font-size: 500;
    color: white;
    text-align : center;
}

body {
    overflow: hidden;
}

#header {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height: 350px;
    background: linear-gradient(to bottom right,#007ec5 0,#08a5af 100%);
    
    -webkit-box-shadow:  0px 3px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow:  0px 3px 0px 0px rgba(255,255,255,1);
    box-shadow: 0px 3px 0px 0px rgba(255,255,255,1);
    background: -webkit-linear-gradient(-0deg, #007EC5 22%, #08A5AF 91%);
    background: -o-linear-gradient(-0deg, #007EC5 22%, #08A5AF 91%);
    background: linear-gradient(90deg, #007EC5 22%, #08A5AF 91%);"
}

#header h1 {
    position:absolute;
    top: 40px;
    left: 50px;
    font-size: 26px;
    font-weight: 400;
    transform-origin: top left;
    transition: transform 0.5s;
    margin-top:0px;
    
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#backButton {
    font-family: "Open Sans";
    font-size: 18px !important;
    opacity: 0.49;
    text-decoration: underline;
    position:absolute;
    left: 0px;
    top: 0px;
    margin-top: 0px;
    opacity:0;
    cursor:pointer;
}

#backgroundInstructions.inactive {
    opacity:0;
}

#cardInstructions {
    left: 0px !important;
    right: 0px; 
    margin-left: auto;
    margin-right:auto;
}
#cardInstructions.inactive {
    opacity:0;
}

#cardPreview {
    position:absolute;
    left:0px;
    top:350px;
    width:100%;
    height: calc(100vh - 350px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

#insideCard {
    position:absolute;
    left:0px;
    bottom:0px;
    right:0px;
    top:0px;
    margin:auto;
    height: 75%;
    transition: transform 1s;
    opacity: 0;
}

#insideCard.open {
    transform: translateX(calc(50% - 1px));
}

#insideCard h4, #insideCard h5{
    font-family: 'Mountains of Christmas', cursive;
    font-size: 96px;
    height: 42%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 5%;
    margin-top: 10%;
    color: #b01c29;
}
#insideCard h5{
    font-size: 36px;
    height: 15%;
    bottom: calc(5% + 100px);
    position: absolute;
    width:90%;
    margin-bottom: 0px;
    margin-top:0px;
}


#insideCard img{
    height: 100px;
    width: auto;
    max-width: 100%;
    bottom: 5%;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    /*display:none;*/
}

/*
#actualCardPreview{
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    height: 80%;
}
*/

#xara-logo {
    position:absolute;
    top:30px;
    right:40px;
    width: 108.7px;
    height: 31.2px;
    background-image:url(./XCLOGO.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


#madeby {
    position:absolute;
    top:10px;
    right:50px;
    cursor: pointer;
    color: white;
    text-decoration: none; /* no underline */
}

.button {
    position:absolute;
    border-radius: 50px;
    background-color:#9ac432;
    color: white;
    font-size: 18px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    top: 280px;
    left: calc(50%);
    transform: translateX(-50%);
    cursor: pointer;
    text-decoration: none; /* no underline */
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.32);
    min-width: 200px;
}
.disabled {
    background-color:grey;
    pointer-events: none;
}
#background-picker {
    position:absolute;
    min-width: 100%;
    height: 150px;
    top:100px;
    left:0px;
    white-space: nowrap;
    transition: opacity 0.5s, left 1s;
}


#background-picker > input{
        margin:0;padding:0;
        -webkit-appearance:none;
           -moz-appearance:none;
                appearance:none;
} 


#background-picker > label{
    display: inline-block;
    width: 185px;
    height: 150px;
    /*background-color: black;*/
    margin-right: 25px;
    cursor: pointer;
}

.bg-images {
    transition: border 0.25s, box-shadow 0.25s;
    width: 100%;
    height: 100px;
    border: 2px solid transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 3px 3px 30px -9px rgba(0,0,0,0.55);
    -moz-box-shadow: 3px 3px 30px -9px rgba(0,0,0,0.55);
    box-shadow: 3px 3px 30px -9px rgba(0,0,0,0.55);

}
#background-picker > input:checked +label > .bg-images {
    border:2px solid white;
    -webkit-box-shadow: 7px 10px 30px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 30px -9px rgba(0,0,0,0.75);
box-shadow: 7px 10px 30px -9px rgba(0,0,0,0.75);

}

.bg-text {
    font-weight: 500;
    width: 100%;
    transform: translateY(-50%);
    display:none;
}






#card-picker {
    position:absolute;
    min-width: 100%;
    height: 150px;
    top:90px;
    left:0px;
    white-space: nowrap;
    transition: opacity 0.5s, left 1s;
}


#card-picker > input{
        margin:0;padding:0;
        -webkit-appearance:none;
           -moz-appearance:none;
                appearance:none;
} 


#card-picker > label{
    display: inline-block;
    width: 140px;
    height: 140px;
    /*background-color: black;*/
    margin-right: 25px;
    cursor: pointer;
}

.card-images {
    transition: border 0.25s, box-shadow 0.25s;
    width: 100%;
    height: 140px;
    border: 2px solid transparent;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-box-shadow: 3px 3px 30px -9px rgba(0,0,0,0.55);
    -moz-box-shadow: 3px 3px 30px -9px rgba(0,0,0,0.55);
    box-shadow: 3px 3px 30px -9px rgba(0,0,0,0.55);

}
#card-picker > input:checked +label > .card-images {
    border:2px solid white;
    -webkit-box-shadow: 7px 10px 30px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 30px -9px rgba(0,0,0,0.75);
box-shadow: 7px 10px 30px -9px rgba(0,0,0,0.75);

}

.card-text {
    font-weight: 500;
    width: 100%;
    transform: translateY(-50%);
}



#form {
    position: absolute;
    width: 900px;
    height: 200px;
    top: 100px;
    left: 0px;
    right: 0px;
    margin: auto
}


#addComp {
    position: absolute;
    left: 50px;
    top: 10px;
    width: 250px;
    height: 1em;
    border: 4px dashed white;
    border-radius: 20px;    
    padding: 35px 20px 65px 20px;
}

#imgupload {
    opacity:0;
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

#preview{
    position: absolute;
    left: 50px;
    top: 10px;
    max-width: 300px;
    max-height: 150px;
    opacity: 0;
    pointer-events: none;
    left: 200px;
    transform: translateX(-50%);
}

#emailInput{ 
    top: 55px;
    position: absolute;
    left: 390px;
    width: 250px;
    padding: 8px;
    border: 2px solid #00659e;
}

#emailLabel {
    position: absolute;
    top: 20px;
    left: 390px;
}

#compLabel {    
    position: absolute;
    top: 110px;
    left: 390px;
}
#compInput {
    top: 95px;
    position: absolute;
    left: 390px;
    width: 200px;
}

#messageLabel {
    position: absolute;
    left: 650px;
    top: 10px;
}

#message {
    top: 35px;
    position: absolute;
    left: 650px;
    width: 200px;
    height: 75px;
    overflow: hidden;
}

#contactLabel {
    position: absolute;
    top: 105px;
    left: 390px;
}


#sharePanel {
    position: absolute;
    width: 100px;
    height:100px;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
    background-color: black;
    display: none;
}

#cover {
    top:0px;
    left:0px;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

#actualCardPreview-cover, #actualCardPreview-inside-left, #actualCardPreview-inside-right {
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    height: 75%;
    transition: all 1s;
    transform-origin: top left;
    backface-visibility: hidden;
}

#actualCardPreview-inside-left{
    transform-origin: top right;
    transform: translateX(calc(-100% + 1px)) rotateY(180deg);


}

#actualCardPreview-cover.open {
    transform : translateX(50%) rotateY(180deg) !important;

}

#actualCardPreview-inside-left.open {
    transform: translateX(calc(-50% + 1px)) rotateY(360deg);
    border-right: 1px solid rgba(0,0,0,0.3);

}

#actualCardPreview-inside-right.open {
    transform: translateX(calc(50% - 1px));

}


/*
        <h2>Share your e-card</h2>
        <p "publishedTo">Your e-card is published to here:</p>
        <p id="cardURL">UNDEFINED</p>
        <hr>
        <p id="shareTo">Share to:</p>
        <div id="facebook"></div><div id="twitter"></div>
        
        <hr>
        <p id="emailTo">EMAIL: not yet supported</p>


*/

#sharePanel {
    position: absolute;
    width: 550px;
    height: 300px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: #f8f9fb;
    display: none;
    font-family: "Open Sans";
    color: #41414b;
    border-radius: 25px;
    border: 1px solid rgba(0,0,0,0.5);
    overflow: hidden;

    
    -webkit-box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75);
}

h2 {
    background-color: white;
    padding: 15px;
    margin: 0px;
    font-weight: 400;
}

#publishedTo, #shareTo, #emailTo {
    
    text-align: left;
    padding-left: 30px;
}

#cardURL {
    background-color: #eee;
    width: 60%;
    overflow: hidden;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
    text-overflow: ellipsis;
}

#closeShare {
    color: gray;
    font-size: 26px;
    height: 40px;
    right: -2px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 40px;
    cursor: pointer;
}


footer {
    position:absolute;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
    background-color:black;
    font-size: 12px;
    font-family: "Open Sans";
    color:white;

}

footer a {
    color:white;
    text-decoration: underline;
}

#made {
    position:absolute;
    bottom: 0px;
    right:0px;
    margin-right:40px;

}

#made a {
    color : #2fa5e7;
}

#welcomePanel {
    width: 100vw;
    height:100vh;
    background: linear-gradient(to bottom right,#007ec5 0,#08a5af 100%);
    position:absolute;
    left:0px;
    top:0px;
    transition: opacity 0.75s;
    opacity:1;
}

#welcomePanel h1 {
    font-size: 26px;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    margin:auto;
    width: 280px;
    font-family:"Open Sans";
    font-weight: 400;
    top: 40px;


}

#cardCover {
    position:absolute;
    top:150px;
    height: 40vh;
    width: auto;
    left:0px;
    right:0px;
    margin:auto;
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.32);
}

#welcomePanel .button {
    
    position:absolute;
    border-radius: 50px;
    background-color:#9ac432;
    color: white;
    font-size: 18px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    left: calc(50%);
    transform: translateX(-50%);
    cursor: pointer;
    text-decoration: none; /* no underline */
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.32);
    min-width: 200px;
    top: 65vh !important;
}